#app-container {
  width: 540px;
  margin: 0 auto;
  position: relative;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  overflow: hidden;
  box-shadow: 0 0 15px #d3d3d3;
}

#title {
  font-family: "open sans";
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group :focus {
  box-shadow: none;
}

.btn {
  font-weight: 700;
}

#shopping-items {
  list-style-type: none;
  padding-left: initial;
  height: 30rem;
  overflow: auto;
  position: relative;
}

#shopping-items > * {
  border-left: 4px solid skyblue;
}

#clear-all-btn {
  display: block;
}

/* subcomponent: shopping-item */

.shopping-item {
  display: flex;
  padding: 0.75rem 0.375rem;
  cursor: pointer;
}

.shopping-item > * {
  margin-right: 0.75rem;
}

.shopping-item > :first-child {
  margin-left: 0.75rem;
}

.shopping-item > .btn {
  padding: 0;
}

.shopping-item > .btn:focus {
  box-shadow: none;
}

.item-name {
  font-family: "Open Sans";
  font-weight: 600;
  margin-bottom: 0;
  overflow-wrap: anywhere;
}

.edit-btn {
  color: green;
  margin-left: auto;
}

.delete-btn {
  color: red;
}
